* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border: 0px solid red;
  color: brown;
}

body {
  background-color: rgb(252, 233, 210);
}

button {
  background-color: brown;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}

.app-title {
  color: brown;
  margin-top: 50px;
}

#app-grid {
  background-color: white;
  border: 5px solid brown;
  height: 800px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.cell {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
